@import url(SeaLight.css);

:root,
::after, 
::before {
  
  /* BACKGROUND COLOR - SeaLight DarkMode ClanCrest 01 */

.tsv-sidebar .tsv-body-background {
    background-image: url(main-image.png),
                      url(bg5.jpg) !important;
    background-repeat: no-repeat!important;
    background-position: 6% 98%, 5% 100% !important;
  }
}
  





